@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
	margin: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
} 
hr {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	border: 0;
	display: block;
	margin: 40px 0;
}
.page {
	overflow: hidden;
}

/*container*/
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/*section*/
.section {
	padding: 80px 0;
}

.section--devices {
	background: url(assets/devices/devices_bg.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
	margin-bottom: 40px;
}
.section--grey {
	background-color: #f8f8f8;
}
.section--margin--top {
	margin-top: 80px;
}

.section--map {
	background: url(map.jpg) center no-repeat / cover;
	padding: 40px 0;
}
.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;
}

.section__suptitle {
	font-size: 20px;
	font-family: 'Kaushan Script', cursive;
	color: #333;
}
.section__title {
	font-size: 26px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
.section__title:after {
	content: "";
	display: block;
	height: 3px;
	width: 60px;
	background-color: #f38181;
	margin: 25px auto;
}
.section__text {
	font-size: 15px;
	color: #999;
}

.section--map {
	background: url(assets/map/map.jpg) no-repeat;
	background-size: cover;
	padding: 0;
}

/*moon*/
.moon {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.moon:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #0a2a43, transparent);
	z-index: 10000;
}

.moon:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #0a2a43;
	z-index: 10000;
	mix-blend-mode: color;
}

.moon img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#moon__text {
	position: relative;
	color: #fff;
	font-size: 10em;
	z-index: 1;
}

#moon__road {
	z-index: 2;
}

/*services*/
.services {
	display: flex;
	flex-wrap: wrap;
}
.services__item {
	width: 33.33333%;
	position: relative;
	margin-bottom: 40px;
	padding: 0 35px 40px 80px;
}
.services__item--border {
	border-bottom: 1px solid #e5e5e5;
}
.services__icon {
	position: absolute;
	top: 0;
	left: 28px;
	z-index: 1;
}
.services__title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}
.services__text {
	font-size: 15px;
	color: #999;
}

/*statistics*/
.statistics {
background-color: #95e1d4;
}

.stat {
	display: flex;
	flex-wrap: wrap;
}

.stat__item {
	flex: 1 1 0;
	text-align: center;
	color: #fff;
	padding: 70px 25px;
	border-left: 1px solid #fff;
}

.stat__item:last-child {
	border-right: 1px solid #fff;
}

.stat__count {
	font-size: 66px;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 15px;
}

.stat__text {
	text-transform: uppercase;
	font-size: 14px;
}

/*devices*/
.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}
.devices__item {
	display: block;
	max-width: 100%;
	height: auto;
}
.iphone {
	position: absolute;
	right: 0;
	bottom: -80px;
	z-index: 1;
}

/*We do*/
.wedo {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.wedo__item {
	width: 50%; /*or flex: 1 1 0;*/
	padding: 0 15px;
}

.wedo__img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*Accordion*/
.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.accordion__item.active
.accordion__header {
	border-bottom: 1px solid #e5e5e5;
}

.accordion__item.active
.accordion__content {
	display: block;
}

.accordion__item.active
.accordion__header:after {
	transform: translateY(-50%)
	rotate(-45deg);
	margin-top: 5px;
}

.accordion__header {
	padding: 15px 20px 15px 65px;
	position: relative;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}

.accordion__header:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;

	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;

	transform: translateY(-50%)
	rotate(135deg);
}

.accordion__icon {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;
	transform: translateY(-50%);
}

.accordion__content {
	padding: 15px 20px;
	font-size: 15px;
	color: #999;
	font-style: italic;
	font-weight: 300;

	display: none;
	transition: all 2s;
}

.accordion__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

/*Logos*/
.logos {
	display: flex;
	justify-content: space-between;
	align-items: center; /*bolor item-nery havasarecnuma center*/
	margin: 0 -15px;
}

.logos__item {
	padding: 0 15px;
}

.logos__img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*map*/
.map {
	text-align: center;
}

.map__title {
	color: #f38181;
	font-size: 24px;
	font-weight: bold;
}
.map__title a {
	color: inherit;
	text-decoration: none;
}
.map__title:hover a {
	text-decoration: underline;
}

/*footer*/ 
.footer {
	padding-top: 65px;
	background-color: #f8f8f8;
}
.footer__logo {
	color: #ccc;
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 30px;
}
.footer__inner {
	padding-bottom: 65px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__text {
	font-size: 15px;
	color: #999;
	margin-bottom: 30px;
}
.footer__social-header {
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}
.footer__social {
	margin-bottom: 25px;
}
.footer__social-header strong {
	font-size: 18px;
}
.footer__social-content {
	padding-top: 15px;
	font-size: 15px;
	color: #999;
	font-style: italic;
	font-weight: 300;
}
.footer__social-content a {
	color: #95e1d3;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}
.footer__col {
	padding: 0 15px;
}
.footer__col--first {
	width: 40%;
}
.footer__col--second {
	width: 29%;
}
.footer__col--third {
	width: 23%;
}
.footer__title {
	text-transform: uppercase;
	color: #333;
	font-size: 14px;
	margin: 30px 0; 
}
/*subscribe block*/
.subscribe {
	width: 100%;
	max-width: 380px;
	display: flex;
}
.subscribe__input {
	width: 60%;
	height: 40px;
	background: #fff;
	border: 1px solid #e7e7e7;
	border-right: 0;
	font-size: 15px;
	font-style: italic;
	color: #333;
	font-weight: 300;
	padding: 12px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.1;
}
.subscribe__input::placeholder {
	color: #ccc;
}
.subscribe__btn {
	width: 40%;
	height: 40px;
	background-color: #95e1d3;
	border: 0;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	padding: 12px 30px;
	line-height: 1.1;
	transition: background .2 linear;
}
.subscribe__btn:hover {
	background-color: #74c7b8;
}
.subscribe__btn:focus {
	outline: none;
}
.subscribe__input:focus {
	outline: none;
	border-color: #74c7b8;
}

/*footer blogs*/
.footer__blog__item {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}
.footer__blog__img {
	padding-right: 20px;
}
.footer__blog__text {
	display: block;
	line-height: 1.4;
	margin-bottom: 5px;
	color: #333;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}
.footer__blog__text:hover {
	text-decoration: underline;
}
.footer__blog__date {
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	color: #999;
}

/*Instagram*/
.instagram {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.instagram__item {
	width: 33%;
	border-bottom: 3px solid #fff;
}
.instagram__item img {
	display: block;
	max-width: 100%;
	height: auto;
}


/*Copyright*/
.copyright {
	padding: 20px 0;
	text-align: center;
	font-size: 14px;
	color: #333;
	border-top: 1px solid #e5e5e5;
}

.copyright span {
	color: #f38181;
}


@media (max-width: 990px) {
	/*stat*/
	.stat {
		justify-content: center;
	}
	
	.stat__item {
		flex: none;
		width: 33.33333%;
		padding-top: 30px;
		padding-bottom: 30px;

		border: 0;
	}

	.stat__item:last-child {
		border-right: 0;
	}

	/*services*/
	.services__item {
		width: 50%;
		padding-bottom: 0;
	}

	.services__item--border {
		border-bottom: 0; 
	}

	/*footer*/
	.footer__col--first {
		width: 100%;
	}
	.footer__col--second,
	.footer__col--third {
		width: 50%;
	}

	/*instagram*/
	.instagram {
		justify-content: flex-start;
	}

	.instagram__item {
		width: auto;
		border-right: 1px solid #fff;
	}
}

@media (max-width: 770px) {
	
	/*Section*/
	.section {
		padding: 40px 0;
	}

	.section--devices {
		padding-bottom: 0;
	}

	/*services*/
	.services {
		justify-content: center;
	}
	.services__item {
		width: 100%;
		max-width: 400px;
		padding-left: 55px;
	}

	.services__icon {
		left: 0;
		padding-right: 0;
	}

	/*wedo*/
	.wedo__img {
		display: none;
	}
	.wedo__item {
		width: 100%;
	}

	/*works*/
	.works {
		flex-wrap: wrap;
	}

	.works__col {
		flex: none;
		width: 50%;
	}

	/*blog*/
	.blog {
		max-width: 380px;
		margin: 0 auto;
	}

	.blog__item {
		width: 100%;
		margin-bottom: 30px;
	}

	.blog__item:last-child {
		margin-bottom: 0;
	}

	/*footer*/
	.footer__col--second,
	.footer__col--third {
		width: 100%;
	}
}

@media (max-width: 575px) {
	
	/*Section*/
	.section__header {
		margin-bottom: 50px; 
	}
	.section__suptitle {
		font-size: 20px;
	}

	.section__title {
		font-size: 24px;
	}

	.section__title:after {
		margin: 20px auto;
	}

	/*stat*/
	.stat__item {
		width: 100%;

		border-bottom: 1px solid #b5eae0;
	}

	.stat__item: last-child {
		border-bottom: 0;
	}

	.stat__count {
		font-size: 46px;
	}

	/*devices*/
	.devices {
		max-width: 320px;
	}

	.iphone {
		width: 180px;
		bottom: -50px;
		right: -80px;
	}

	/*logos*/
	.logos {
		flex-wrap: wrap;
		justify-content: center;
	}

	.logos__item {
		width: 50%;
		margin-bottom: 10px;
	}

	.logos__img {
		margin: 0 auto;
	}

	/*subscribe*/
	.subscribe {
		flex-wrap: wrap;
		max-width: none;
	}

	.subscribe__input {
		margin-bottom: 10px;
		border-right: 1px solid #e7e7e7;
	}

	.subscribe__input,
	.subscribe__btn {
		width: 100%;
	}

	/*blogs*/
	.footer__blog__img {
		width: 80px;
		height: 50px;
	}

	.footer__blog__text {
		font-size: 10px;
	}
}
